// Importing responsive mixins
@import 'mq.scss';
@import 'variables.scss'

//######### Mixins ############

// Box-Shadow 

@mixin box-shadow($values...) {
  @each $val in $values {
    -webkit-box-shadow: #{$val};
    -moz-box-shadow: #{$val};
    box-shadow: #{$val};
  }
}

@mixin arrow-up($bg-color, $size) {
  @content;
  content: '';
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $bg-color;
}

@mixin center-items-vh() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Responsive mixins

@mixin xs-sm() {
  @include mq($from: xs, $until: sm) {
    @content
  }
}

@mixin sm-md() {
  @include mq($from: sm, $until: md) {
    @content
  }
}

@mixin md-lg() {
  @include mq($from: md, $until: lg) {
    @content
  }
}

@mixin lg-lx() {
  @include mq($from: lg, $until: xl) {
    @content
  }
}
